<h1 class="title is-4">Patient Overview</h1>
<div class="columns">
    <div class="column is-6">
        <div class="box">
            <h2 class="subtitle is-6">Patient Information</h1>
            <table class="table">
                <div class="row">
                    <div class="cell">
                        <label class="label">First Name</label>
                    </div>
                    <div class="cell">
                        <span><%= patient.first_name %></span>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <label class="label">Last Name</label>
                    </div>
                    <div class="cell">
                        <span><%= patient.last_name %></span>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <label class="label">Address 1</label>
                    </div>
                    <div class="cell">
                        <span><%= patient.address_1 %></span>
                    </div>
                </div>
                <% if (patient.address_2) { %>
                    <div class="row">
                        <div class="cell">
                            <label class="label">Address 2</label>
                        </div>
                        <div class="cell">
                            <span><%= patient.first_name %></span>
                        </div>
                    </div>
                <% } %>
                <div class="row">
                    <div class="cell">
                        <label class="label">City, State Zip Code</label>
                    </div>
                    <div class="cell">
                        <span><%= patient.city %>, <%= patient.state %> <%= patient.zip_code %></span>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <label class="label">Phone 1</label>
                    </div>
                    <div class="cell">
                        <span><%= patient.phone_1 %></span>
                    </div>
                </div>
                <% if (patient.phone_2) { %>
                    <div class="row">
                        <div class="cell">
                            <label class="label">Phone 2</label>
                        </div>
                        <div class="cell">
                            <span><%= patient.phone_2 %></span>
                        </div>
                    </div>
                <% } %>
                <div class="row">
                    <div class="cell">
                        <label class="label">E-Mail</label>
                    </div>
                    <div class="cell">
                        <span><%= patient.email %></span>
                    </div>
                </div>
            </table>
        </div>
    </div>
    <div class="column is-6">
        <div class="box">
            <h2 class="subtitle is-6">Patient Insurance Info</h1>
            <table class="table">
                <div class="row">
                    <div class="cell">
                        <label class="label">Insurance Company</label>
                    </div>
                    <div class="cell">
                        <span><%= patient.insurance_company %></span>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <label class="label">Insurance ID</label>
                    </div>
                    <div class="cell">
                        <span><%= patient.insurance_id %></span>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <label class="label">Insurance Group</label>
                    </div>
                    <div class="cell">
                        <span><%= patient.insurance_group %></span>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <label class="label">Insurance Phone</label>
                    </div>
                    <div class="cell">
                        <span><%= patient.insurance_phone %></span>
                    </div>
                </div>
            </table>
        </div>
    </div>
</div>    