<div class="box">
    <h1 class="title is-4">Patient Overview</h1>
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label">First Name</label>
                <div class="control">
                    <span><%- patient.first_name %></span>
                </div>
            </div>
            <div class="field">
                <label class="label">Last Name</label>
                <div class="control">
                    <span><%- patient.last_name %></span>
                </div>
            </div>
            <div class="field">
                <label class="label">Address 1</label>
                <div class="control">
                    <span><%- patient.address_1 %></span>
                </div>
            </div>
            <div class="field">
                <label class="label">Address 2</label>
                <div class="control">
                    <span><%- patient.address_2 %></span>
                </div>
            </div>
            <div class="field">
                <label class="label">City, State Zip Code</label>
                <div class="control">
                    <span><%- patient.city %>, <%- patient.state %> <%- patient.zip_code %></span>
                </div>
            </div>
            <div class="field">
                <label class="label">Phone 1</label>
                <div class="control">
                    <span><%- patient.phone_1 %></span>
                </div>
            </div>
            <div class="field">
                <label class="label">Phone 2</label>
                <div class="control">
                    <span><%- patient.phone_2 %></span>
                </div>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <span><%- patient.email %></span>
                </div>
            </div>
        </div>
    </div>    
</div>